



h6
{
	color:  rgb(0,128,128);
	text-align: center;
	font-family: arial;
	font-style: italic;
	font-size: 50px;
}


header{
	
	background-color: rgb(153,163,164);
	
	
}

caption
{
	color: red;
}



p
{
	font-size: 20px;
}

