



h6
{
	color:  rgb(0,84,138);
	text-align: center;
	font-family: arial;
	font-style: italic;
	font-size: 50px;
}

#titre_logo img
{
	
	position: absolute;
    top: 110px;
	
}


header
{
	
	background-image: url(file://1erpageweb/differents-sucres-diabete.jpg);
	background-color:white;
	
	background-position: center center;
	padding: 150px;
}




header a
{
	
	margin-left: 5%;
	color: blue ;
	
}

header nav
{
    position: absolute;
    top: 300px;
    left: 25px;
   
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
  
}

li a {
  display: block;
  padding: 8px;
  background-color: #DDDDDD;
  
}


table
{

	border: solid #000000;
	width: 1000px;
	margin-bottom: 10%;
	margin-top: 5%;
	margin-right:auto;
	margin-left:auto; 
	font-size: 20px;
}



th,td{
	
	border: solid #000000;
	
	
	
}



caption
{
	color: red;
}

ul li{ 

	font-size: 20px;

}


p
{
	font-size: 20px;
}

footer
{
	padding: 200px;
	background-image: url(1erpageweb/sucre_fond2.jpg);
	background-repeat: repeat;
	display: flex;
    justify-content: space-around;
	background-position: center center;
}


footer p
{
	
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	font-size: 35px;
	font-family: arial;
	text-align: justify;
	padding-bottom: 5%;
	color: rgb(113,193,245);

}





